* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Add a gray background color with some padding - not to the heading though */
main {
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background: #f1f1f1;
  width:auto;
}

/* image and text in header */
.container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2.5fr;
  column-gap: none;
  width:100%;
}

.row2 {
  width:100%;
}

.container4 {
  position: relative;
  text-align: center;
  color: white;
  width:auto;
}

.logo {
  width: 77%;
}

img {
  max-width: 100%;
}

/* format all header heading text */
.text {
  font-size:0.5rem;
  text-align: center;
  background-image: "/header-ideas/4.png";
  background-repeat: no-repeat;
  color: white;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

/* format header and background image with gradient filter on top */
.header {
  height: auto;
  background-image: linear-gradient(
      to right bottom,
      rgba(76, 216, 255, 0.8),
      rgba(30, 108, 217, 0.8)
    ),
    url("header-ideas/4.png");
  background-size: cover;
  background-position: top;
  position: relative;
}

.heading-primary {
  color: #fff;
  backface-visibility: hidden;
}

/* Jaz Cat Chem heading */
.heading-primary-main {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 4.6875rem;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0.1875rem;
  margin-bottom: 1rem;
}

/* Bringing science to you heading */
.heading-primary-sub {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: auto;
  letter-spacing: 0.1875rem;
  margin-bottom: 3rem;
}

/* Responsive layout - when the screen is less than X px wide, make the font smaller */
@media screen and (max-width: 1100px) {
  .heading-primary-main { 
    font-size: 2.3rem; 
    margin-bottom: 0.75rem;
  }
  .heading-primary-sub { 
    font-size: 1.2rem; 
    margin-bottom: 1.5rem;
  }
}

/* starts - click here to get started button */
/* Adds button, so not just a link */
.row2 .btn {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  padding: 0.9375rem 1.25rem;
  display: inline-block;
  border-radius: 6.25rem;
  transition: all 0.2s;
  position: relative;
  line-height: 0.2;
}

/* Button moves when hovered over, interactive */
.row2 .btn:hover {
  transform: translateY(-0.1875rem);
  box-shadow: 0 .625rem 1.25rem rgba(0, 0, 0, 0.2);
}

/* Shows button links to current page */
.row2 .btn:active {
  transform: translateY(-1px);
  box-shadow: 0 .3125rem .625rem rgba(0, 0, 0, 0.2);
}

/* Adds white box around button */
.row2 .btn-white {
  background-color: #fffefe;
  color: #027de8;
  font-size: 1rem;
}

/* Media query for screens with a maximum width of 600 pixels */
@media (max-width: 1100px) {
  .row2 .btn {
    font-size: 0.8rem; /* Adjust font size for smaller screens */
    padding: 0.75rem 1rem; /* Adjust padding for smaller screens */
  }
}
/* end - click here to get started button */
/* end header image and text */

/* social media top navbar starts here */
.navbar3 {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.1); /* Black background with 0.x opacity */
  top: 0;
}

/* format navbar link appearances */
.navbar3 a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Change color on hover */
.navbar3 a:hover {
  background-color: #8fe4fc9c;
  color: black;
}

/* Change navbar opacity on hover */
.navbar3:hover {
  background: rgba(0, 0, 0, 0.3); /* Black background with 0.x opacity */
}

/* Style the search box inside the navigation bar */
.navbar3 input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 8px;
  font-size: 17px;
}

/* navbar search icon next to search bar */
.navbar3 .search-container button {
  float: right;
  padding: 8px 8px;
  margin-right: 16px;
  margin-top: 3px;
  background-color: #1415284a;
  font-size: 6px;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  text-decoration: none;
  border-radius: 50%;
  transition: all 0.2s;
  position: relative;
  line-height: 0.2;
  text-align: center;
  display: block;
}

/* navbar search icon hover effect, changes colour */
.navbar3 .search-container button:hover {
  background: #ccc;
}
/* social media top navbar ends here */

/* navbar details start here */
/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
  overflow: hidden;
  background-color: #333333;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  transition: opacity 0.5s ease;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  overflow: auto;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.navbar a.active {
  background-color: #666;
  color: white;
}
/* navbar details end here */

/* main body content starts here */

/* .heading2 {
    background-color: white;
    color: black;
    height: 80px;
    width: cover;
    text-align:left;
  } */

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Add a card effect for the articles in column 1 */
.card {
  background-color: white;
  padding: 20px;
  padding-top: 8px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
}

/* make articles scrollable */
div.scroll {
  background-color: none;
  width: 100%;
  height: 1415px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  padding: none;
}

/* image for article 1 preview */
.img2 {
  height: 50%;
  width: 1120px;
  object-fit: none;
  max-width: 100%;
}

/* image for 2nd article section */
.img4 {
  height: 50%;
  width: 1120px;
  object-fit: none;
  max-width: 100%;
}

/* labels for articles */
.btn-primary {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  padding: 11px 13px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
  line-height: 0.2;
  /* background-color: #777;
    color: #fff; */
  font-size: 14px;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-shef {
  background-color: #82d6a5;
  color: #fff;
}

.btn-arts {
  background-color: #f17db1;
  color: #fff;
}

.btn-student {
  background-color: #d693e7;
  color: #fff;
}

.btn-chem {
  background-color: #f6a84f;
  color: #fff;
}

.btn-phos {
  background-color: #72cad8;
  color: #fff;
}

.btn-sci {
  background-color: #7d89e4;
  color: #fff;
}

/* format links to articles */
.link2 {
  float: right;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 2px 20px;
  text-decoration: none;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* right hand side card 1 starts */
.card2 {
  position: relative;
  overflow: hidden;
  width: 100%;
  color: #ffffff;
  text-align: left;
  line-height: 1.4em;
  background-color: #141414;
  border-radius: 12px; /* rounded edges */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  height: auto;
  margin-top: 20px;
}

/* formats everything in card2 */
.card2 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  width:auto;
}

/* main image for about me section */
.card2 img {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
  border-radius: 12px 12px 0 0;
  vertical-align: top;
}

/* formats everything after the main photo - makes black background over the photo at an angle*/
.card2 figcaption {
  width: 100%;
  background-color: #141414;
  padding: 25px;
  padding-bottom:8px;
  position: relative;
}

/* makes the main image look diagonal */
.card2 figcaption:before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent #141414;
  width:auto;
  max-width: 100%;
}

/* formats the click here link appearance - adds box <a> */
.card2 figcaption a {
  padding: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 0.8em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: auto;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}

/* formats the link on hovering, makes it move */
.card2 figcaption a:hover {
  border-color: #a4dcff;
  color: #a4dcff;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* formats smaller circle photo */
.card2 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  max-width: 100%;
  max-height:100%;
  width:30%;
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/* formats click here link */
.card2 .follow {
  margin-right: 4%;
  border-color: #1093e4;
  color: #1093e4;
  opacity:1;
}

/* format jaz catlow text */
.card2 h2 {
  margin: 0 0 5px;
  font-weight: 300;
}

/* format chem phd researcher text */
.card2 h2 span {
  display: block;
  font-size: 0.6em;
  color: #2980b9;
  padding-top:4px;
  padding-bottom:4px;
}

/* format all text in <p> paragraph */
.card2 p {
  margin: 0 0 10px;
  font-size: 0.8em;
}
/* right hand side card 1 ends */

/* right hand side card 2 */
.card3 {
  margin-top: 20px;
  max-height: 100%;
  background-color:none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  border-radius: 12px; /* rounded edges */
}
/* right hand side card 2 ends */

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* main body content ends here */

/* email link prompt - needs fixing to align */
.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: none;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: top;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

/* Footer */
.footer {
  padding-bottom: 5px;
  text-align: center;
  background: white;
  color:black;
}

/* Style all font awesome icons - round buttons */
.fa {
  padding: 45px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 20%;
  margin-top: 0;
}

/* form section starts */
.form3 {
  margin-top: 20px;
  font-family: Arial;
  max-width:100%;
}

/* newsletter background container */
.newsletter-form {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  text-align: center;
  background: #ddd;
  max-width:100%;
}

.container9 {
  padding: 20px;
  background-color: #f1f1f1cf;
  width: 60%;
  text-align: center;
  display: inline-block;
}


/* formats the let us know link appearance - adds box <a> */
.container9 figcaption a {
  padding: 5px;
  border: 2px solid;
  color: #ffffff;
  font-size: 0.8em;
  margin: 10px 0;
  display: inline-block;
  width: auto;
  text-align: center;
  text-decoration: none;
}

/* formats subscribe link */
.container9 .follow {
  background-color: #00ddff;
  color: white;
  border: none;
  text-align: center;
  font-size: 25px;
  width: 25%;
  padding: 12px;
  margin: 8px 0px;
  margin-top: none;
  display: inline-block;
  box-sizing: border-box;
}

/* formats the link on hovering, makes it move */
.container9 .follow:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.container11 {
  background-repeat: no-repeat;
  background-image: url(header-ideas/9-copy2.png);
  background-size: cover;
  background-position: top;
  position: relative;
  max-width:100%;
}

input[type="text8"] {
  width: 50%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 18px;
}

input[type="checkbox"] {
  margin-top: 16px;
  margin-bottom: none;
}
/* form section ends */

/* social media container section */
.container20 {
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center;
  color:black;
}

/* social media heading */
.heading-soc-media {
  margin-top: 30px;
  margin-bottom: 0px;
  padding-bottom:0px;
  background-color: none;
  width:100%;
}

/* feedback animation background image container*/
.container53 {
  height: auto;
  background-image: linear-gradient(
      to right bottom,
      rgba(76, 216, 255, 0.8),
      rgba(30, 108, 217, 0.8)
    ),
    url("header-ideas/4.png");
  background-size: cover;
  background-position: top;
  position: relative;
}

/* feedback animation container*/
.container52 {
  background-color: white;
  position: inline-block;
  text-align: center;
  display: inline-block;
  padding: 5px;
  margin:20px;
  border-radius: 12px;
  color:black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width:auto;
}

/* formats the let us know link appearance - adds box <a> */
.container52 figcaption a {
  padding: 5px;
  border: 2px solid;
  color: #ffffff;
  font-size: 0.8em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}

/* formats the link on hovering, makes it move */
.container52 figcaption a:hover {
  border-color: #005eff;
  color: #005eff;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* formats click here link */
.container52 .follow {
  border-color: #00a6ff;
  color: #00a6ff;
  width:auto;
}

/* cat animation starts here */
#bongo-cat {
  position: relative;
  height: 40vh;
  width: 40vw;
  margin: auto;
}

.typing-animation {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1200ms;
          animation-duration: 1200ms;
}

path#f1-l1 {
  -webkit-animation-name: typing-f1-l1;
          animation-name: typing-f1-l1;
}

path#f1-l2 {
  -webkit-animation-name: typing-f1-l2;
          animation-name: typing-f1-l2;
}

path#f1-l3 {
  -webkit-animation-name: typing-f1-l3;
          animation-name: typing-f1-l3;
}

path#f2-l4 {
  -webkit-animation-name: typing-f2-l4;
          animation-name: typing-f2-l4;
}

path#f2-l5 {
  -webkit-animation-name: typing-f2-l5;
          animation-name: typing-f2-l5;
}

path#f2-l6 {
  -webkit-animation-name: typing-f2-l6;
          animation-name: typing-f2-l6;
}

path#f3-l7 {
  -webkit-animation-name: typing-f3-l7;
          animation-name: typing-f3-l7;
}

path#f3-l8 {
  -webkit-animation-name: typing-f3-l8;
          animation-name: typing-f3-l8;
}

path#f3-l9 {
  -webkit-animation-name: typing-f3-l9;
          animation-name: typing-f3-l9;
}

@-webkit-keyframes typing-f3-l9 {
  0% {
    d: path("M8,25L8,25");
  }
  82% {
    d: path("M8,25L8,25");
  }
  92% {
    d: path("M8,25L96,25");
  }
  100% {
    d: path("M8,25L96,25");
  }
}

@keyframes typing-f3-l9 {
  0% {
    d: path("M8,25L8,25");
  }
  82% {
    d: path("M8,25L8,25");
  }
  92% {
    d: path("M8,25L96,25");
  }
  100% {
    d: path("M8,25L96,25");
  }
}
@-webkit-keyframes typing-f3-l8 {
  0% {
    d: path("M8,13L8,13");
  }
  68% {
    d: path("M8,13L8,13");
  }
  82% {
    d: path("M8,13L146,13");
  }
  100% {
    d: path("M8,13L146,13");
  }
}
@keyframes typing-f3-l8 {
  0% {
    d: path("M8,13L8,13");
  }
  68% {
    d: path("M8,13L8,13");
  }
  82% {
    d: path("M8,13L146,13");
  }
  100% {
    d: path("M8,13L146,13");
  }
}
@-webkit-keyframes typing-f3-l7 {
  0% {
    d: path("M0,1L0,1");
  }
  60% {
    d: path("M0,1L0,1");
  }
  68% {
    d: path("M0,1L96,1");
  }
  100% {
    d: path("M0,1L96,1");
  }
}
@keyframes typing-f3-l7 {
  0% {
    d: path("M0,1L0,1");
  }
  60% {
    d: path("M0,1L0,1");
  }
  68% {
    d: path("M0,1L96,1");
  }
  100% {
    d: path("M0,1L96,1");
  }
}
@-webkit-keyframes typing-f2-l6 {
  0% {
    d: path("M8,25L8,25");
  }
  54% {
    d: path("M8,25L8,25");
  }
  60% {
    d: path("M8,25L69,25");
  }
  100% {
    d: path("M8,25L69,25");
  }
}
@keyframes typing-f2-l6 {
  0% {
    d: path("M8,25L8,25");
  }
  54% {
    d: path("M8,25L8,25");
  }
  60% {
    d: path("M8,25L69,25");
  }
  100% {
    d: path("M8,25L69,25");
  }
}
@-webkit-keyframes typing-f2-l5 {
  0% {
    d: path("M8,13L8,13");
  }
  44% {
    d: path("M8,13L8,13");
  }
  54% {
    d: path("M8,13L114,13");
  }
  100% {
    d: path("M8,13L114,13");
  }
}
@keyframes typing-f2-l5 {
  0% {
    d: path("M8,13L8,13");
  }
  44% {
    d: path("M8,13L8,13");
  }
  54% {
    d: path("M8,13L114,13");
  }
  100% {
    d: path("M8,13L114,13");
  }
}
@-webkit-keyframes typing-f2-l4 {
  0% {
    d: path("M0,1L0,1");
  }
  30% {
    d: path("M0,1L0,1");
  }
  44% {
    d: path("M0,1L136,1");
  }
  100% {
    d: path("M0,1L136,1");
  }
}
@keyframes typing-f2-l4 {
  0% {
    d: path("M0,1L0,1");
  }
  30% {
    d: path("M0,1L0,1");
  }
  44% {
    d: path("M0,1L136,1");
  }
  100% {
    d: path("M0,1L136,1");
  }
}
@-webkit-keyframes typing-f1-l3 {
  0% {
    d: path("M8,25L8,25");
  }
  24% {
    d: path("M8,25L8,25");
  }
  30% {
    d: path("M8,25L61,25");
  }
  100% {
    d: path("M8,25L61,25");
  }
}
@keyframes typing-f1-l3 {
  0% {
    d: path("M8,25L8,25");
  }
  24% {
    d: path("M8,25L8,25");
  }
  30% {
    d: path("M8,25L61,25");
  }
  100% {
    d: path("M8,25L61,25");
  }
}
@-webkit-keyframes typing-f1-l2 {
  0% {
    d: path("M8,13L8,13");
  }
  14% {
    d: path("M8,13L8,13");
  }
  24% {
    d: path("M8,13L124,13");
  }
  100% {
    d: path("M8,13L124,13");
  }
}
@keyframes typing-f1-l2 {
  0% {
    d: path("M8,13L8,13");
  }
  14% {
    d: path("M8,13L8,13");
  }
  24% {
    d: path("M8,13L124,13");
  }
  100% {
    d: path("M8,13L124,13");
  }
}
@-webkit-keyframes typing-f1-l1 {
  0% {
    d: path("M0,1L0,1");
  }
  14% {
    d: path("M0,1L160,1");
  }
  100% {
    d: path("M0,1L160,1");
  }
}
@keyframes typing-f1-l1 {
  0% {
    d: path("M0,1L0,1");
  }
  14% {
    d: path("M0,1L160,1");
  }
  100% {
    d: path("M0,1L160,1");
  }
}
#paw-right--up,
#paw-right--down,
#paw-left--up,
#paw-left--down {
  -webkit-animation: blink 300ms infinite;
          animation: blink 300ms infinite;
}

#paw-right--up,
#paw-left--down {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
#laptop__code {
  transform: rotateX(-37deg) rotateY(-46deg) rotateZ(-23deg) translateX(8px) translateY(20px) translateZ(-50px);
}
/* cat animation ends here */
